/.venv
/.vscode
/venv
/wandb
__pycache__/
*.pyc

# Model files and training outputs
*.pth
starter-code/
# predictions/
# results/
starter_code.py
requirements.txt

# Large files
*.bin
*.safetensors
*.ckpt